@import "./normalize.css";

.ui {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

button {
  border: none;
  outline: none;
}

body,
html {
  height: initial;
  overflow-x: hidden;
}

button,
h1,
h2,
h3,
p {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.backdrop {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  z-index: 7000;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
}

.backdrop-active {
  display: block;
}
